:root{

    /* BACKGROUNDS */

    --bg-primary:#ffffff;
    --bg-secondary:#f8f9fa;

    /* TEXT */

    --text-primary:#212529;
    --text-secondary:#6c757d;

    /* CARDS */

    --card-bg:#ffffff;

    /* BORDERS */

    --border-color:#dee2e6;

    /* BRAND */

    --primary:#0d6efd;
}

[data-theme="dark"]{

    --bg-primary:#121212;
    --bg-secondary:#1e1e1e;

    --text-primary:#ffffff;
    --text-secondary:#bdbdbd;

    --card-bg:#252525;

    --border-color:#444444;

    --primary:#4dabf7;
}